@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #d8f3dc;
    --header-bg-color: #95d5b2;
    --primary-color: #52b788;
    --secondary-color: #b7e4c7;
    --accent-color: #40916c;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: "Raleway", sans-serif;
}