@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #d8f3dc;
    --header-bg-color: #95d5b2;
    --primary-color: #52b788;
    --secondary-color: #b7e4c7;
    --accent-color: #40916c;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("#{resource['images/start-background.jpeg']}");
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Raleway", sans-serif;

    .ui-widget, .ui-widget input, .ui-widget textarea, .ui-widget select {
        font-family: "Raleway", sans-serif;
    }

    .ui-component {
        font-family: "Raleway", sans-serif;
    }

    .ui-button-flat,
    .ui-button-flat.ui-state-hover,
    .ui-button-flat.ui-state-active,
    .ui-button-outlined,
    .ui-button-outlined.ui-state-hover,
    .ui-button-outlined.ui-state-active {
        color: var(--accent-color) !important;
    }

    .ui-button,
    .ui-button.ui-state-hover,
    .ui-button.ui-state-active {
        background-color: var(--accent-color) !important;;
    }

    .ui-button-outlined,
    .ui-button-flat,
    .ui-button-flat.ui-state-hover,
    .ui-button-outlined.ui-state-hover {
        background-color: transparent !important;
    }

    .ui-button.ui-state-focus,
    .ui-button-flat.ui-state-focus,
    .ui-button-outlined.ui-state-focus {
        border-color: var(--accent-color) !important;
        box-shadow: none !important;
    }

    .ui-button.ui-state-active,
    .ui-button-flat.ui-state-active,
    .ui-button-outlined.ui-state-active {
        background-color: var(--secondary-color) !important;
    }
}

body {
    transition: background-size 0.9s ease;
}