@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #d8f3dc;
    --header-bg-color: #95d5b2;
    --primary-color: #52b788;
    --secondary-color: #b7e4c7;
    --accent-color: #40916c;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    font-family: "Raleway", sans-serif;

    .ui-widget, .ui-widget input, .ui-widget textarea, .ui-widget select {
        font-family: "Raleway", sans-serif;
    }

    .ui-component {
        font-family: "Raleway", sans-serif;
    }

    .ui-button-flat.redirect-btn,
    .ui-button-flat.ui-state-hover.redirect-btn,
    .ui-button-flat.ui-state-active.redirect-btn {
        color: var(--accent-color);
    }
    .ui-button-flat.ui-state-focus.redirect-btn {
        border-color: var(--accent-color);
        box-shadow: none;
    }
    .ui-button-flat.ui-state-active.redirect-btn {
        background-color: var(--secondary-color);
    }
}