body {
    background-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;

    .section {
        background-color: white;
        border-radius: 10px;
        opacity: 0;
        transition: opacity 0.5s ease 0.7s;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto;
            gap: 1.25rem;
            padding: 1rem;



            .input-block {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.5rem;

                .r-input {
                    width: 100%;
                }

                .label {
                    margin: 0;
                }

                span {
                    width: 100%;
                }

                .input input {
                    width: 100%;
                }

                .options {
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    height: 100%;
                    gap: 1rem;

                    .x-option {
                        background-color: var(--header-bg-color);
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        border-radius: 10px;
                        text-decoration: none;
                        transition: background-color 0.3s;
                    }

                    .x-option.selected {
                        background-color: var(--accent-color)
                    }
                }
            }

            .input-block:nth-child(2) {
                align-items: flex-start;
                grid-row: 1 / 4;
                grid-column: 1 / 2;
            }

            .buttons {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                justify-content: space-between;
                grid-column: 2 / 3;
                grid-row: 3 / 4;
                margin-top: 2rem;
            }

            .error-text {
                margin: 0.5rem 0;
                color: red;
                height: 0;
                transition: all 0.3s;
            }

            .show-error {
                height: 2rem;
            }
        }

        svg {
            aspect-ratio: 1 /1;
            height: 60vh;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .rendered {
            opacity: 1;
        }

        svg:hover {
            cursor: pointer;
        }
    }

    .section:nth-child(2) {
        padding: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: space-between;


        #tableWrapper {
            padding: 1rem 1rem 0 1rem;
            height: 62%;
        }
    }
}

body.zoomed-in {
    background-size: 400%;
    background-position: 100% 100%;

    .section {
        opacity: 1;
    }
}