body {
    background-size: 100%;
    display: grid;
    grid-template-columns: auto 2fr 1fr;
    gap: 2rem;

    .section {
        background-color: white;
        border-radius: 10px;
    }

    .form {
        padding: 1rem;
        display: flex;
        flex-direction: column;

        .input-block {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;

            .label {
                margin: 0;
            }

            .options {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 1rem;

                .x-option {
                    background-color: var(--header-bg-color);
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    border-radius: 10px;
                    aspect-ratio: 1;
                    text-decoration: none;
                    transition: background-color 0.3s;
                }

                .x-option.selected {
                    animation: selectOption 0.3s ease forwards;
                }
            }
        }

        .error-text {
            margin: 0.5rem 0;
            color: red;
            height: 0;
            transition: all 0.3s;
        }

        .show-error {
            height: 2rem;
        }
    }

    .param-submit {
        background-color: var(--header-bg-color);
        color: white;
        border: none;
        padding: 0.6rem 1rem;
        font-size: 1rem;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .param-submit:hover,
    .param-checkbox label:hover {
        background-color: var(--accent-color);
        cursor: pointer;
    }

    .param-checkbox select:focus,
    .param-text input:focus {
        border-color: var(--accent-color);
        outline: none;
    }

    .image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;

        svg {
            aspect-ratio: 1 /1;
            height: 60vh;
            opacity: 0;
            transition: opacity 0.3s;
        }

        .rendered {
            opacity: 1;
        }

        svg:hover {
            cursor: pointer;
        }
    }

    .table {
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            text-align: center;
            width: 30vw;
        }
    }
}

body.zoomed-in {
    background-size: 200%;
}


@keyframes selectOption {
    from {
        background-color: initial;
    }
    to {
        background-color: var(--accent-color)
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}