body {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 200%;
    animation: zoomOut 0.9s ease 0.1s forwards;
}

@keyframes zoomOut {
    from {
        background-size: 200%;
    }
    to {
        background-size: 100%;
    }
}