body.zoomed-out {
    background-size: 100%;
    background-position: 50% 50%;
}

body.zoomed-in {
    background-size: 400%;
    background-position: 50% 50%;
}

.clock {
    width: 20%;
    position: absolute;
    top: 15%;
    left: 40%;
}